@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: ;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --accent_color: #f43f5e;
  --gray: #18181b;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  font-family: Plus Jakarta Sans;
  position: relative;
}
.nav-bar > ul > li {
  list-style-type: none;
}

.logo {
  padding-top: 24px;
  padding-left: 32px;
  line-height: 30px;
  letter-spacing: 3px;
  font-weight: 700px;
  display: flex;
  align-items: baseline;
}
.logo > span {
  color: var(--accent_color);
}
.menu {
  padding-top: 29px;
  display: flex;
  gap: 40px;
  line-height: 24px;
  font-weight: 500px;
}
.button {
  padding-top: 32.5px;
  padding-right: 49.5px;
}
.home-button{
  background: var(--black);
  color: var(--white);
  border-radius: 3px;
  /* width: 135px; */
  /* height: 45px; */
  text-align: center;
  padding: 8.5px 25.5px;
  /* line-height: 45px; */
}
.hero {
  position: relative;
}
.hero>img{
  position: absolute;
  top: 270px;
  left: 207px;
}
.hero-text{
  display: flex;
  padding-left: 152px;
  padding-top: 171px;
}
.header >h1{
  color: var(--gray);
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  line-height: 66px;
}
.header >p{
  color: #52525B;
  font-family: Inter;
  font-weight: 400;
}
.cta-button{
  background: var(--gray);
  margin-top: 45px;
  /* width: 214px; */
  /* height: 61px; */
  line-height: 28px;
  color: var(--white);
  border-radius: 3px;
  text-align: center;
 /* padding: 26px 30px; */
 margin-bottom: 70px;
}
.vector{
  display: flex;
  gap: 6px;
  margin-bottom: 23.74px;
}
.editor >h4{
  margin-bottom: 12px;
  color: var(--gray);
  font-family: Plus Jakarta Sans;
  font-weight: 700;
}
.editor >p{
  margin-bottom: 12px;
}
.buttons{
  display: flex;
  border: none;
  background: none;
  align-items: center;
  gap: 9px;
  color: var(--gray);
  font-family: Plus Jakarta Sans;
  font-weight: 700;
}